<p id="notice"><%= notice %></p>

<%= @serving.name %> (100g)</br>
<!--REMEMBER TO INCLUDE GROUP LATER!-->
kCal: <%= @serving.kcal %> kcal</br>
protein: <%= @serving.protein %> g</br>
carb: <%= @serving.carb %> g</br>
fat: <%= @serving.fat %> g</br> 
vitA: <%= @serving.vitA %> IU</br>
vitB1: <%= @serving.vitB1 %> mg</br>
vitB2: <%= @serving.vitB2 %> mg</br>
vitB3: <%= @serving.vitB3 %> mg</br>
vitB5: <%= @serving.vitB5 %> mg</br>
vitB6: <%= @serving.vitB6 %> mg</br>
vitB9: <%= @serving.vitB9 %> mcg</br>
vitB12: <%= @serving.vitB12 %> mcg</br>
vitC: <%= @serving.vitC %> mg</br>
vitD: <%= @serving.vitD %> mcg</br>
vitE: <%= @serving.vitE %> mg</br>
fiber: <%= @serving.fiber %> g</br>
potassium: <%= @serving.potassium %> mg</br>
calcium: <%= @serving.calcium %> mg</br>
phosphorus: <%= @serving.phosphorus %> mg</br>
magnesium: <%= @serving.magnesium %> mg</br>
manganese: <%= @serving.manganese %> mg</br>
iron: <%= @serving.iron %> mg</br>
sodium: <%= @serving.sodium %> mg</br>
copper: <%= @serving.copper %> mg</br>
zinc: <%= @serving.zinc %> mg</br>
selenium: <%= @serving.selenium %> mcg</br>
<!--fluoride: <%#= @serving.fluoride %></br>-->
<%#= link_to 'Edit', edit_serving_path(@serving) %> <!--|-->
<%#= link_to 'Back', servings_path %>
